body {
    background-color: rgb(250, 249, 247);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: Georgia, "Times New Roman", sans-serif;
}

a {
    color: black;
}

.top {
    text-align: center;
    font-size: 48px;
}

.main {
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: rgb(250, 249, 247);
}

.main-button:hover {
    background-color: rgb(218, 209, 189);
    color: black;
}

.main-img {
    width: 700px;
    height: auto;
    margin-bottom: 20px;
}

.main p {
    font-size: 18px;
}

.recipe-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.recipes-list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.recipes-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-link {
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 16px;
}

.recipes p {
    font-style: italic;
    margin: 0;
}


/* RECIPE PAGES */

.head-section {
    margin: 20px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.head-section h1 {
    font-size: 68px;
    font-weight: bold;
    margin: 0;
}

.recipe-main-img {
    margin: 0;
    max-width: 600px;
}


.content {
    background-color: rgb(250, 249, 247);
    margin: 20px;
}

.description {
    background-color: rgb(236, 230, 216);
    color: black;
    padding: 20px;
    font-style: italic;
}

.details {
    display: flex;
    gap: 50px;
    margin: 20px;
    flex-wrap: wrap;
}

.steps {
    width: 400px;
}